h1 {
    color: lightgreen;
    text-align: center;
}

h3 {
    color: blue;
}

p {
    color: red;
}

#main-content {
    border: thick solid black;
    border-radius: 10px;
    background-color: gray;
}

.flex-display {
    display: flex;
    justify-content: center;
}

.factoid {
    padding: 1rem;
    margin: 3rem;
    border: 1px solid black;
    border-radius: 5px;
    background-color: lightgray;
    text-align: center;
    width: 25%;
}